<div class="flex flex-row justify-center m-5">
<a class="hover:text-orange-600 duration-300 mr-5" href="https://www.flaticon.com/free-icons/parfum" title="parfum icons">Parfum icons created by Vitaly Gorbachev - Flaticon</a>
<a class="hover:text-orange-600 duration-300 mr-5" href="https://www.flaticon.com/free-icons/accessories" title="accessories icons">Accessories icons created by bsd - Flaticon</a>
<a class="hover:text-orange-600 duration-300 mr-5" href="https://www.flaticon.com/free-icons/product" title="product icons">Product icons created by Iconjam - Flaticon</a>
<a class="hover:text-orange-600 duration-300 mr-5" href="https://www.flaticon.com/free-icons/clothing" title="clothing icons">Clothing icons created by Smashicons - Flaticon</a>


</div>